<div class="container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :f_name, label: "Prénom" %>
      <%= f.input :l_name, label: "Nom(s)" %>
      <%= f.input :dob, label: "Date de naissance", as: :date, start_year: Date.today.year - 70,
                                end_year: Date.today.year - 4,
                                order: [:day, :month, :year] %>
      <%= f.input :phone, label: "Numero de telephone", as: :tel %>
      <%= f.input :is_coach, label: "Je suis coach d'une equipe a l'ecole", as: :boolean %>
      <%= f.input :is_player, label: "Je suis un joueur dans une equipe de l'ecole", as: :boolean %>
      <%= f.input :is_parent, label: "Je suis le parent d'un joueur", as: :boolean %>

      <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
  </div>
