<div class="container">
  <%= simple_form_for current_player, url: players_path do |f| %>
    <%= f.input :short_size, label: "Size Short", collection: %w(164 xs s m l xl xxl)%>
    <%= f.input :shirt_size, label: "Size T-shirt", collection: %w(164 xs s m l xl xxl)%>
    <%= f.input :number, label: "Number", collection: @available_numbers %>
    <%= f.submit %>
  <% end %>
</div>
